* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  height: 100%;
  color: white;
  background-color: rgb(4, 15, 115);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

nav a {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: rgb(241, 241, 211);
  padding: 0.5em 1em;
  border: 0.125em solid grey;
  text-decoration: none;
  border-radius: 0.25em;
  margin-top: 1em;
}

nav a:hover {
  color: white;
  background-color: rgb(70, 180, 94);
}

nav a:active {
  transform: translateY(0.5em);
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  justify-content: center;
}

main {
  max-width: 50em;
  margin: 1.25em auto;
  padding: 1.25em;
}

section {
  text-align: center;
}

h1 {
  font-size: 1.75em;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  margin-bottom: 0.3em;
}

.layout {
  background-color: rgb(70, 180, 94);
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 1em;
  box-shadow: 0 0 1.875em rgba(0, 0, 0, 0.1);
}

.layout h2 {
  font-size: 1.375em;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  margin: 1em auto;
}

.layout img {
  width: 100%;
  border-radius: 0.3125em;
}

.meer {
  display: inline-block;
  margin-top: 0.625em;
  padding: 0.625em 1.25em;
  background-color: white;
  color: black;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0.3125em;
}

.meer:hover {
  background-color: gray;
}

.aanwezig {
  background-color: white;
  padding: 1.25em;
  border-radius: 0.625em;
  box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.1);
}

.aanwezig h3 {
  font-size: 1.25em;
  font-style: italic;
  font-weight: bold;
  color: black;
}

.aanwezig ul {
  list-style-type: disc;
  padding-left: 1.25em;
  color: black;
  margin-top: 1em;
}

.aanwezig li {
  font-size: 1.125em;
  margin-bottom: 0.625em;
}

.aanwezig span {
  font-style: italic;
}

.hoeveelheid {
  color: red;
  font-weight: bold;
}

.over-ons {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
}

.overons-foto {
  display: flex;
  align-items: center;
  background-color: rgb(70, 180, 94);
  padding: 0.5em;
  border-radius: 0.625em;
  box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.1);
}

.overons-foto img {
  width: 40%;
  border-radius: 0.625em;
}

.overons-foto p {
  font-size: 1em;
  padding: 0.8em;
  text-align: left;
}

footer {
  background-color: rgb(70, 180, 94);
  padding: 1em;
  font-weight: bold;
}
